.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    margin: 20px;
    background-color:#CCE3E8;
  }
  
  .card h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .card img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
  }
  
  .card section {
    margin-bottom: 10px;
  }
  
  .card p {
    margin: 0;
  }
  
  .card a {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
  }